<div class="new_survey_container">
<h3>Survey Name: <%= @survey.name.capitalize %></h3>
<p>Survey ID: <%= @survey.id %></p>
<h3>Please complete the following questions and answer choices:</h3>
<!--  one survey; X questions; 4 answers -->
<% @survey.questions.each_with_index do |question, index| %>
  <form class='build_survey' id="build_survey" action="/build_survey" method="POST">
    <div>
      <label for="question<%= index %> ">Question #<%= index + 1 %></label>
      <input id="question<%= index %>" type="text" name="question[text<%= index %>]">
        <% question.choices.each_with_index do |choice, index2| %>
        <ul>
        <li><input id="choice<%= index2 %>" type="text" name="response<%= index %>[choice<%= index2 %>]" placeholder="Enter Answer Choice <%= index2 + 1 %>"></li>
        </ul>
        <% end %>
    <div>
      <% end %>
    <input type="hidden" name="survey" value="<%= @survey.id %>">
    <input class='build_survey_button'type='Submit' value='Create'>
  </form>
</div>

