<!-- expects to be passed @question and @choices for that question -->
<form  action="/multi" method="post" id="multi-partial" >
<br><br><br><br><br><br><br><br><br><br><br>
<% 
<%= @question.text %><br>
<% @choices.each_with_index do |choice, index|  %>
	 <input type="radio" name="question"	 value="<%= choice.id %>"><%= choice.choice %><br>
<% end %>
<input type ="hidden" name = "question_id" value="<%= @question.id %>">
<input type ="hidden" name = "participant_id" value="<%= @user.id %>">
<input type="submit" value="Submit">
</form>
