<h1><%= @survey.name %> survey!</h1>
<form  action="/participant_submit" method="post" id="participant_survey" >
<% @survey.questions.each_with_index do |question, index| %> 
<div>
<h4><%= question.text %></h4>
<% question.choices.each_with_index do |choice, index2|  %>
   <input type="radio" name="question[<%= index %>]"   value="<%= choice.id %>"><%= choice.choice %><br>
<% end %>
</div>
<% end %>
<input type="hidden" name="survey_id" value="<%= @survey.id %>">
<input type="submit" value="submit">
</form>

