<div class='profile' id='profile'>
  <div id="profile_header">
  <div>
    <h1>profile</h1>
    <span>welcome back <%= current_user.name %></span></br>
    <form id='new_survey' method='GET' action='/survey/new'>
    <button class='new_survey_button' type='submit'>New Survey</button>
    </form>
  </div>
  </div>

  <div id="participant_surveys">
  <h3>Available participant surveys</h3>
  <table id='participant_survey_table'>
      <thead>
        <th>Name</th>
        <th>Take</th>
      </thead>
      <tbody>
        <% if @available %>
        <% @available.each do |survey| %>
        <tr>
          <td><%=survey.name%></td>
          <td>
            <!-- <a id='participate' href="/survey/<%= survey.id %>"> Take </a> -->
            <form class="survey_take" method='GET' action="/survey/<%=survey.id%>" data-name="<%= survey.name %>" data-questions="<%= survey.questions.length %>">
            <button class='take_button' type='submit'>take</button>
            </form>  
          </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  </div>

  <div id="created_surveys">
  <h3>Your created surveys</h3>
  <table id='survey_table'>
      <thead>
        <th>Name</th>
        <th>Results</th>
      </thead>
      <tbody>
        <% if @created %>
          <% @created.each do |survey| %>
        <tr>
          <td>  <%=survey.name%> </td>
          <td> 
            <!-- <a href="/stats/survey/<%=survey.id%>"> Results </a> -->
            <form method='GET' action="/stats/survey/<%=survey.id%>">
            <button class='results_button' type='submit'>results</button>
            </form> 
          </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  </div>
  
  <br>
  
  <div class ="for_new_survey">
  </div>
</div> 
